<!-- INCLUDE overall_header.html -->

<h3 class="thick-blue">{PAGE_TITLE}</h2>

<form method="post" action="{S_MODE_ACTION}">

<!-- BEGIN group -->
<div class="forumbg forumbg-table">
	<div class="inner">

	<table class="table1" id="team">
	<thead>
	<tr>
		<th class="name" data-dfn="{L_RANK}{L_COMMA_SEPARATOR}{L_USERNAME}"><span class="rank-img">{L_RANK}&nbsp;</span><!-- IF group.U_GROUP --><a href="{group.U_GROUP}">{group.GROUP_NAME}</a><!-- ELSE -->{group.GROUP_NAME}<!-- ENDIF --></th>
	</tr>
	</thead>
	<tbody>
<!-- BEGIN user -->
	<tr class="<!-- IF group.user.S_ROW_COUNT is even -->member-bg1<!-- ELSE -->member-bg2<!-- ENDIF --><!-- IF group.user.S_INACTIVE --> inactive<!-- ENDIF -->">
		<td><!-- IF group.user.RANK_IMG --><span class="rank-img">{group.user.RANK_IMG}</span><!-- ELSE --><span class="rank-img">{group.user.RANK_TITLE}</span><!-- ENDIF --><!-- EVENT memberlist_team_username_prepend -->{group.user.USERNAME_FULL}<!-- IF group.user.S_INACTIVE --> ({L_INACTIVE})<!-- ENDIF --><!-- EVENT memberlist_team_username_append --></td>

	</tr>
<!-- BEGINELSE -->
	<tr class="bg1">
		<td colspan="3"><strong>{L_NO_MEMBERS}</strong></td>
	</tr>
<!-- END user -->
	</tbody>
	</table>

	</div>
</div>
<!-- END group -->

</form>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->
