/* Content Styles
---------------------------------------- */

ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

ul.topiclist li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 1rem 0.7rem;
}

ul.topiclist dl {
	position: relative;
	font-weight: 700;
}

ul.topiclist li.row dl {
	margin: 2px 0;
}

ul.topiclist dt, ul.topiclist dd {
	display: block;
	float: left;
}

ul.topiclist dt {
	width: 100%;
	margin-right: -440px;
	font-size: 1.1em;
}

ul.topiclist.missing-column dt {
	margin-right: -345px;
}

ul.topiclist.two-long-columns dt {
	margin-right: -250px;
}

ul.topiclist.two-columns dt {
	margin-right: -80px;
}

ul.topiclist dt .list-inner {
	margin-right: 440px;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	flex-direction: row;
}

ul.topiclist.missing-column dt .list-inner {
	margin-right: 345px;
}

ul.topiclist.two-long-columns dt .list-inner {
	margin-right: 250px;
}

ul.topiclist.two-columns dt .list-inner {
	margin-right: 80px;
}

ul.topiclist dd {
	border-left: 1px solid transparent;
	padding: 4px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.topiclist li.row dd {
	padding: 4px 0 999px 0;
	margin-bottom: -995px;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

.subforum {
    display: flex;
    flex-wrap: wrap;
}

.subforum-unit {
	flex: 1;
	flex-basis: 30%;
	margin: 5px;
	padding: 20px 20px;
	border-radius: 20px;
	width: max-content;
	text-align: center;
	border: 1px solid #eaeaea;
}

.subforum-unit:hover {
	background-color: #F8F8F8;
}

.subforum a, .subforum a:hover, .subforum a:focus, .subforum a:active {
	text-decoration: none;
	opacity: 0.8;
}

ul.forums {
	margin-bottom: 20px;
}

.forum-icon,
.topic-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.forum-icon img {
    max-width: 60px;
    border-radius: 50%;
    min-width: 60px;
    margin-right: 15px;
}

.topic-icon img {
    max-width: 40px;
    border-radius: 50%;
    min-width: 40px;
    margin-right: 15px;
}

.forum-icon-forum_read img,
.forum-icon-forum_read_subforum img,
.forum-icon-forum_link img,
.forum-icon-forum_read_locked img,
.forum-icon-topic_read img,
.forum-icon-topic_read_mine img,
.forum-icon-topic_read_locked img,
.forum-icon-topic_read_locked_mine img,
.forum-icon-topic_read_hot img,
.forum-icon-topic_read_hot_mine img {
	background-color: #e1e1e1;
}

.forum-icon-forum_unread img,
.forum-icon-forum_unread_subforum img,
.forum-icon-forum-unread-locked img {
	background-color: var(--main-theme-color);
}

.forum-icon-topic_read_mine::after,
.forum-icon-topic_unread_mine::after,
.forum-icon-topic_read_locked_mine::after,
.forum-icon-topic_unread_locked_mine::after {
	display: block;
  	content: ' ';
	background-image: url(icons/icons-new/mine.svg);
	background-size: 18px 18px;
	height: 18px;
	width: 18px;
	position: absolute;
	top: 27px;
	left: 25px;
}

.forum-icon-topic_read_locked::before,
.forum-icon-topic_read_locked_mine::before,
.forum-icon-topic_unread_locked::before,
.forum-icon-topic_unread_locked_mine::before {
	display: block;
  	content: ' ';
	background-image: url(icons/icons-new/locked.svg);
	background-size: 18px 18px;
	height: 18px;
	width: 18px;
	position: absolute;
	top: -5px;
	left: 25px;
}

li.row {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

li.row strong {
	font-weight: normal;
}

li.header dt, li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 2px 0 4px 0;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1.3em;
	font-family: 'Muli', Helvetica, sans-serif;
	text-transform: uppercase;
}

li.header dt {
	font-weight: bold;
	width: 100%;
	margin-right: -440px;
}

li.header dt .list-inner {
	margin-right: 440px;
}

li.header dd {
	padding-left: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li.header dl.row-item dt, li.header dl.row-item dd {
	min-height: 0;
}

li.header dl.row-item dt .list-inner {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}

/* Forum list column styles */
.row .list-inner { padding: 4px 0; }

dl.row-item {
	background: 0;
}

dl.row-item dt {
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
	background-size: 17px;
}

dl.row-item dt, dl.row-item dd {
	min-height: 35px;
}

dl.row-item dt a {
	display: inline;
}

dl a.row-item-link {						/* topic row icon links */
	display: block;
	width: 30px;
	height: 30px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -15px;
	margin-left: 9px;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
	width: 80px;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

dd.posts, dd.topics, dd.views {
	width: 95px;
}

/* List in forum description */
dl.row-item dt ol,
dl.row-item dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

dl.row-item dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
	width: 250px;
	font-size: 1.1em;
}

dd.redirect {
	line-height: 2.5em;
}

dd.time {
	line-height: 200%;
}

dd.lastpost > span, ul.topiclist dd.info > span, ul.topiclist dd.time > span, dd.redirect > span, dd.moderation > span {
	display: block;
	padding-left: 5px;
}

dd.extra, dd.mark {
	line-height: 200%;
}

dd.option {
	width: 125px;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

/* Post body styles
----------------------------------------*/
.postbody {
	line-height: 1.48em;
	float: left;
	position: relative;
	width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postbody .ignore {
	font-size: 1.1em;
}

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 1.7em;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	float: left;
	font-size: 1.5em;
	padding: 2px 0 0 0;
	margin-top: 0 !important;
	margin-bottom: 0.3em !important;
	text-transform: none;
	border: none;
	font-family: 'Muli', "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}

.postbody h3 img {
	vertical-align: bottom;
}

.has-profile .postbody h3 {
	/* If there is a post-profile, we position the post-buttons differently */
	float: none !important;
	margin-right: 180px;
}

.postbody .content {
	font-size: 1.3em;
	overflow-x: auto;
}

.postbody img.postimage {
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search .postbody {
	width: 68%
}

/* Topic review panel
----------------------------------------*/
.panel .review {
	margin-top: 2em;
}

.topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px;
}

.topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

.topicreview .post {
	height: auto;
}

.topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
.post_details {
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
}

/* Content container styles
----------------------------------------*/
.content {
	clear: both;
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: 'Muli', "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding-bottom: 1px;
	padding: 10px;
}

.content h2, .panel h2 {
	margin-bottom: 10%;
	margin-top: 10%;
}

.panel h3 {
	margin: 0.5em 0;
}

.panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

.content p {
	font-family: 'Muli', "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

dl.faq {
	font-family: 'Muli', "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.4em;
}

dl.faq dt {
	font-weight: bold;
}

.content dl.faq {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin: 0.8em 0 0.9em 3em;
}

.posthilit {
	padding: 0 2px 1px 2px;
}

/* Post author */
p.author {
	margin-bottom: 0.6em;
	padding: 0 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
	clear: both;
}

/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1.1em;
	border-top: 1px solid transparent;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

.signature.standalone {
	border-top-width: 0;
	margin-top: 0;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin: 0.8em 0 0.9em 3em;
}

/* Post noticies */
.notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1em;
	border-top: 1px dashed transparent;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	border-left: 3px solid transparent;
    font-size: 0.95em;
    margin: 1em 1px 1em 25px;
    overflow: hidden;
    padding: 10px;
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
	margin: 1em 1px 1em 15px;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote cite:before, .uncited:before {
	padding-right: 5px;
}

blockquote cite > div {
	float: right;
	font-weight: normal;
}

.postbody .content li blockquote {
	overflow: inherit;
	margin-left: 0;
}

/* Code block */
.codebox {
	border: 1px solid transparent;
	font-size: 1em;
	margin: 1em 0 1.2em 0;
	word-wrap: normal;
}

.codebox p {
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 0;
	padding: 3px;
	font-size: 0.8em !important;
	font-weight: bold;
	display: block;
}

blockquote .codebox {
	margin-left: 0;
}

.codebox code {
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	padding: 5px 3px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, monospace;
	line-height: 1.3em;
}

/* Attachments
----------------------------------------*/
.attachbox {
	font-size: 13px;
	float: left;
	width: auto;
	max-width: 100%;
	margin: 5px 5px 5px 0;
	padding: 6px;
	border: 1px dashed transparent;
	clear: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.attachbox dt {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	border-top: 1px solid transparent;
	overflow-x: auto;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	max-width: 100%;
}

.attach-image img {
	border: 1px solid transparent;
/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

dl.file dd {
	margin: 0;
	padding: 0;
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

dl.thumbnail dd {
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover img {
	border: 1px solid transparent;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid transparent;
	padding: 5px 0 0 0;
	line-height: 120%;
}

fieldset.polls dl.voted {
	font-weight: bold;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

fieldset.polls dd.resultbar {
	width: 100%;
	box-sizing: border-box;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px 2px 0 2px;
	overflow: visible;
	min-width: 8px;
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
}

.vote-submitted {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	margin: 5px 0 10px 0;
	min-height: 80px;
	border: 1px solid transparent;
	border-width: 0 0 0 1px;
	width: 22%;
	float: left;
	display: inline;
}

.postprofile dd, .postprofile dt {
	line-height: 1.2em;
	margin-left: 8px;
}

.postprofile dd {
	overflow: hidden;
	text-overflow: ellipsis;
}

.postprofile strong {
	font-weight: normal;
}

.postprofile dt.no-profile-rank, .postprofile dd.profile-rank, .postprofile .search-result-date {
	margin-bottom: 10px;
}

/* Post-profile avatars */
.postprofile .has-avatar .avatar-container {
	margin-bottom: 3px;
	overflow: hidden;
}

.postprofile .avatar {
	display: block;
	float: left;
	max-width: 100%;
}

.postprofile .avatar img {
	display: block;
	height: auto !important;
	max-width: 100%;
}

.postprofile .profile-posts a {
	font-weight: normal;
}

dd.profile-warnings {
	font-weight: bold;
}

dd.profile-contact {
	overflow: visible;
}

.profile-contact .dropdown-container {
	display: inline-block;
}

.profile-contact .icon_contact {
	vertical-align: middle;
}

.profile-contact .dropdown {
	margin-right: -14px;
}

.online {
	background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

/* Poster profile used by search*/
.search .postprofile {
	width: 30%;
}

/* Profile used on view-profile */

.profile-flex {
	display: flex;
	flex-direction: row;
}

.profile-left {
    flex: 1;
	text-align: center;
    border-right: solid 1px #eeeeee;
	box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .1);
	background-color: #FFF;
	border-radius: 10px;
	padding: 30px 10px;
	margin: 10px;
}

.profile-right {
	flex: 1;
	flex-grow: 2;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .1);
	background-color: #FFF;
	border-radius: 10px;
	padding: 30px 30px;
	margin: 10px;
}

.profile-avatar {
	position: relative;
	width: max-content;
	margin: auto;
}

.profile-avatar img {
	width: 100px;
	height: 100px;
	object-fit: cover;
    border-radius: 50%;
	margin-bottom: 12px;
}

.profile-username {
    font-size: 2em;
}

.profile-rank {
    font-size: 1.3em;
}

.profile-contact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
}

.profile-contact .button {
	font-size: 0.9em;
}

.profile-groups {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 100%;
}

.profile-groups option {
    padding: 5px;
    font-weight: 800;
	margin: 5px;
	font-size: 1.2em;
}

.profile-groups option:checked {
	border-radius: 5px;
}

.profile-statistics {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 1.4em;
}

.profile-statistics-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.profile-statistics-row dt {
    font-weight: 800;
}

.profile-statistics-row dd {
    text-align: right;
}

.left-box.profile-details {
    margin-top: 30px;
}

.left-box.profile-details dd {
    width: 70%;
	text-align: right;
}

.left-box.profile-details dt {
    width: 25%;
	text-align: left;
}

.profile-buttons {
	text-align: right;
	margin-right: 20px;
}

.profile-buttons a {
    padding: 10px;
    background-color: #e7e7e7;
    margin: 5px;
    font-weight: 800;
    color: #b6b6b6;
}

.profile-buttons a:hover {
    text-decoration: none;
    background-color: #dbdbdb;
}

/* New as of May 11th */


/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

.action-bar div.dl_links {
	padding: 10px 0 0 10px;
}

div.dl_links {
	display: inline-block;
	text-transform: none;
}

.dl_links strong {
	font-weight: bold;
}

.dl_links ul {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}

.dl_links li {
	display: inline-block;
}

.attachment-filename {
	width: 100%;
}

.ellipsis-text {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table.fixed-width-table {
	table-layout: fixed;
}

/* Show scrollbars for items with overflow on iOS devices
----------------------------------------*/
.postbody .content::-webkit-scrollbar, .topicreview::-webkit-scrollbar, .post_details::-webkit-scrollbar, .codebox code::-webkit-scrollbar, .attachbox dd::-webkit-scrollbar, .attach-image::-webkit-scrollbar, .dropdown-extended ul::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	-webkit-appearance: none;
	background: rgba(0, 0, 0, .1);
	border-radius: 3px;
}

.postbody .content::-webkit-scrollbar-thumb, .topicreview::-webkit-scrollbar-thumb, .post_details::-webkit-scrollbar-thumb, .codebox code::-webkit-scrollbar-thumb, .attachbox dd::-webkit-scrollbar-thumb, .attach-image::-webkit-scrollbar-thumb, .dropdown-extended ul::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .3);
	border-radius: 3px;
}

#memberlist tr.inactive, #team tr.inactive {
	font-style: italic;
}

/* Columns: Main content, sidebar and full-width
----------------------------------------*/
@media screen and (max-width: 1000px) {
  .column-main {
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .column-sidebar {
    width: 100% !important;
  }
}

.column-main {
	width: 75%;
	float: left;
}

.column-sidebar {
	width: 23%;
	margin-left: 0%;
	float: right;
}

.column-full-width {
	width: 100%;
}

h3.sidebar {
	text-align: center;
	margin-bottom: 8px;
}

h2.topic-title {
    margin-bottom: 20px;
    font-weight: 700;
}

.sidebar-title {
	margin-right: 0 !important;
	padding-right: 0 !important;
    text-align: center;
}

/* Main content column and sidebar column
----------------------------------------*/
@media screen and (max-width: 1000px) {
  .column-login-left {
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .column-login-right {
    width: 100% !important;
  }
}

.column-login-left {
	width: 50%;
	float: left;
	border-right-width: 1px;
    border-right-color: #eee;
    border-right-style: solid;
    padding-right: 20px;
}

.column-login-right {
	width: 47%;
	margin-left: 0%;
	float: right;
}

h3.thick-blue {
	margin-bottom: 30px;
    font-weight: 800;
	line-height: normal;
}

h3.thick-blue-no-margin {
    font-weight: 800;
	line-height: normal;
	margin-top: 0px !important;
}

p.long-texts {
	font-family: 'Muli', "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    margin-bottom: 1em;
    line-height: 1.6em;
}

/* New topic and post style */
.post-body {
	display: flex;
	border-radius: 5px;
    margin: 0 auto 10px;
}

.post-profile {
    background-color: var(--content-background-color-darker);
	flex: 1 0 152px;
	flex-grow: 1;
	border-left: 1px solid hsla(0, 0%, 50.2%, .2);
    border-top: 1px solid hsla(0, 0%, 50.2%, .2);
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    float: left;
    padding: 20px;
}

.post-avatar-area {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.post-avatar {
	position: relative;
}

.post-avatar img {
	margin: auto;
    text-align: center;
    max-width: 100px;
	height: auto;
	border-radius: 20%;
}

.post-avatar-online,
.profile-avatar-online {
	background-color: green;
	position: absolute;
	top: 83px;
	left: 65px;
	z-index: 1;
	padding: 2px;
	border-radius: 12px;
	width: 20px;
	height: 20px;
	border: 3px solid #fbfbfb;
}

.online-dot {
	background-color: green;
	position: absolute;
	padding: 2px;
	border-radius: 12px;
	width: 20px;
	height: 20px;
}

.no-avatar {
	width: 100px;
	height: 100px;
	background-color: #dfdede;
	border-radius: 50%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.no-avatar .fa {
	flex: 1;
	align-self: center;
	font-size: 50px;
	color: #8b8b8b;	
}

.profile-rank {
	text-align: center;
    font-size: 1.5em;
}

.post-content {
    display: inline-block;
    float: right;
    block-size: auto;
	flex: 1;
	flex-grow: 10;
    background-color: var(--content-background-color);
    padding: 20px;
    border: 1px solid hsla(0, 0%, 50.2%, .2);
}

.post-text {
	font-size: 1.5em;
}

.postimage {
	max-width: 100%;
}

.postbit-stats {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #e1e1e1;
	margin: 5px;
	border-radius: 5px;
}

.postbit-stats .fa {
	font-size: 2em;
	margin-bottom: 7px;
}

.post-buttons-temp {
    float: right !important;
    position: inherit !important;
}

/* Postbit profile spoiler */
.read-more-target, .read-more-trigger_opened {
  display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target, .read-more-state:checked ~ .read-more-trigger_opened {
  display: block;
}
.read-more-state:checked ~ .read-more-trigger_closed {
  display: none;
}

.dark-spoiler {
    padding: 0.5em;
    border-radius: 1em;
	text-align: center;
}

.dark-spoiler .sp-button {
	cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 0.5em;
    padding: 5px;
    background-color: #f9f7f7;
}

.dark-spoiler .sp-content {
    margin-top: 0.5em;
}

.dark-spoiler .sp-button[value="Show"] + .sp-content {
    display: none;
}

.title-area {
    float: left;
}

/* Posting after content */
.posting-after,
.posting-after-poll-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}
.posting-after-left,
.posting-after-right,
.posting-after-poll-left,
.posting-after-poll-right {
	flex: 1;
	font-size: 1.4em;
}

.posting-after-checkbox {
	padding: 5px;
}

.posting-after-right dl {
	padding: 10px;
}

.posting-after-attachment {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}

.posting-after-attachment p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.posting-after-attachment-button {
    position: relative;
    z-index: 1;
    font-size: 2em;
    background: 0;
    padding: 20px 40px;
    color: var(--main-theme-color);
    border: 2px dotted var(--main-theme-color);
    border-radius: 20px;
}

.posting-after-poll-right {
	margin-left: 45px;
}

/* Poll view */
fieldset.polls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.poll-option {
    display: flex;
    flex-direction: column;
    padding: 20px !important;
	background-color: #FFF;
	flex-grow: 1;
	flex-basis: 31%;
	margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12);
}

.poll-option:hover,
.poll-option:active {
	box-shadow: 0px 0px 4px 1px rgba(60, 129, 251, 0.47);
}

.poll-option-title {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.poll-option-result {
	flex: 1;
	padding: 10px;
}

.poll-result {
	padding: 7px;
    border-radius: 20px;
    background-color: var(--main-theme-color);
	color: #FFF;
	font-weight: 800; 
	font-size: 12px;
}

.poll-after {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.poll-after-results p {
	display: flex;
	align-self: center;
}

/* Information Pages */
.information-panel {
	padding: 30px;
	margin: 50px 0;
	border-radius: 7px;
	width: max-content;
	max-width: 100%;
	min-width: 30%;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06),0 1px 20px rgba(194, 194, 194, 0.24);
}

.information-panel-no-align {
	text-align: left;
}

.information-panel a {
	color: #FFF;
	background-color: var(--main-theme-color);
	padding: 10px;
	margin: 5px;
	font-size: 0.8em;
	border-radius: 20px;
	text-decoration: none;
}

.information-panel a:hover {
	opacity: 0.9;
	color: #FFF;
}

.information-panel h2 {
	color: #828282;
	margin: 0;
	font-weight: 400;
}

.information-panel h3 {
	text-align: center;
	margin: 0;
}

.information-panel dt {
	width: 100%;
	margin: 5px 0;
}

.information-panel p {
	font-size: 1.5em;
}

/* Search Bar Full Width */
#search-bar-full {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #3c81fb;
    color: #FFF;
	border: 0;
	display: none;
	box-sizing: border-box;
	border-radius: 0;
}